@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: "Noto Sans KR", sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.kakao-login span,
.kakao-login i {
  opacity: 0.7;
  padding: 5px;
}
