doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteTitle}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="http://snuka.iptime.org:6006/static/styles.css" type="text/css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")

    body
        include ../partials/header
        block content
        h1 hello